<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Oops!</title>
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>


<div class="container-fluid py-2">
    <div class="border bg-light py-5 col-sm-8 mx-auto">
        <div class="table-responsive">
            <h3 class="h3 text-center pt-2">Oops! This conference hasn't been started yet or is finished already</h3>
            <p class="text-center">please try again later if it's not too late</p>
        </div>
    </div>
</div>



</body>


</html>