<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Conferences admin panel</title>
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="col-md-8"></div>
    <div class="col-6 col-md-4">
        <a class="btn btn-light my-2" href="#">Dashboard</a>
        <a class="btn btn-light my-2" href="#">Manage Users</a>
        <a class="btn btn-light my-2" href="">Log out</a>
    </div>
</nav>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Conferences</h1>

</div>


<div class="container-fluid d-block mx-auto mt-5" style="">
    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Sec.No</th>
            <th></th>
            <th><a class="btn btn-warning btn-sm" href="#">Add more</a></th>

        </tr>
        </thead>

        <tbody>

            <tr>

                <th scope="row"><%=product.getId()%></th>
                <td><%=product.getProductName()%></td>
                <td><%=product.getQuant()%></td>
                <td><%=product.getPrice()%></td>
                <td><%=product.getCategory()%></td>
                <td><%=product.getDescription()%></td>
                <td><%=product.getSectionNum()%></td>
                <td><a class="btn btn-danger btn-sm" href="#" value="<%=product.getId()%>" name="prodId">Remove</a></td>
                <td><a class="btn btn-success btn-sm" href="#">Edit</a></td>

            </tr>


        </tbody>
    </table>

</div>




</body>
</html>