<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Conference Dashboard</title>
</head>
<body>
<div th:replace="fragments :: admin-header"></div>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Conference Dashboard</h1>

</div>


<div class="container mx-auto mt-5" style="">
    <table class="table">

        <thead class="thead">
        <tr>
            <th scope="col">Topic</th>
            <th scope="col">Details</th>
            <th scope="col">Questions</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th>Force</th>

            <th></th>

        </tr>
        </thead>

        <tbody>

        <tr>
            <!--Link /topic-dashboard for staff to manage topics start/end and see questions-->
            <th scope="row"><a href="/topic-dashboard">Deconstructing Deep Learning</a></th>
            <td>Super popular and informative topic</td>
            <td>7</td>
            <td>2020-05-14 07:15:00</td>
            <td>2020-05-14 08:00:00</td>

            <td><a class="btn btn-success btn-sm" href="/"><i class="far fa-play-circle"></i></a></td>
            <td><a class="btn btn-danger btn-sm" href="#" value="" name=""><i class="far fa-stop-circle"></i></a></td>

        </tr>
<!--        Add class="table-success" if topic is active-->
        <tr class="table-success">
            <!--Link /topic-dashboard for staff to manage topics start/end and see questions-->
            <th scope="row"><a href="/topic-dashboard">You can AI like an Expert</a></th>
            <td>You can AI like an Expert is a three-day conference with technical talks in the fields of Big Data,</td>
            <td>15</td>
            <td>2020-05-14 08:00:00</td>
            <td>2020-05-14 09:30:00</td>
<!--Next two buttons os for staff to force start and ent time. ! TODO: Next topic time should be updated after this forcing-->
            <td><a class="btn btn-success btn-sm" href="/"><i class="far fa-play-circle"></i></a></td>
            <td><a class="btn btn-danger btn-sm" href="#" value="" name=""><i class="far fa-stop-circle"></i></a></td>

        </tr>

        </tbody>
    </table>

</div>


<div th:replace="fragments :: footer"></div>

</body>
</html>