<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conference page</title>
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:replace="fragments :: admin-header"></div>
<div class="container-fluid py-3">
    <div class="col-sm-8 mx-auto py-1">
        <div class="row  flex-column">
            <h3 class="text-center h3 py-3 text-uppercase"><p th:text="${conference.getTheme()}"></p>
                <a class="btn btn-sm btn-info mx-3" th:href="@{'/staff/conference-edit/'+${confId}}"
                   data-toggle="tooltip" title="Edit conference">Edit</a></h3>
            <p class="text-center py-1">
                <b th:text="'Start date: '+${#temporals.format(conference.getStart(), 'dd-MM-yyyy HH:MM')}"></b>
                <br><b th:text="'End date: '+${#temporals.format(conference.getEnd(), 'dd-MM-yyyy HH:MM')}"></b>
            </p>
            <p class="px-5" th:text="${conference.getDescription()}"></p>
        </div>
    </div>
    <hr>
    <div class="col-sm-10 mx-auto py-3">
        <h2 class="h2 text-center py-3">List Of Topics <a class="btn btn-success"
                                                          th:href="@{'/staff/topic-add/'+${confId}}"
                                                          data-toggle="tooltip" title="Add new topic">Add topic</a></h2>

        <div class="row py-3 topic" th:each="topic : ${allTopic}">

            <div class="col-sm-3 mx-auto">
                <figure class="figure">
                   <img src="../../../../resources/images/image-placeholder.png"
                         th:src="@{'/images/'+${topic.getSpeakerimg()}}"
                         class="figure-img img-fluid rounded" height="350" width="350"/>
                    <figcaption class="figure-caption" th:text="${topic.getSpeaker()}">Speaker picture above, the name
                        and descr here
                    </figcaption>
                    <figcaption class="figure-caption" th:text="${topic.getSpeakerdesc()}">Speaker picture above, the
                        name and descr here
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-5 mx-auto">
                <a th:href="@{'/staff/topic-dashboard/'+${topic.getId()}}"><h4 class="h4" th:text="${topic.getTheme()}"
                                                                               data-toggle="tooltip"
                                                                               title="Manage topics start/end dates and see questions">
                    First topic name</h4></a>

                <p class="py-2"
                   th:text="${topic.getStart().toLocalTime().toString()}+' - '+ ${topic.getEnd().toLocalTime().toString()}">
                    Time: 11:00 - 11:45</p>
                <p th:text="${topic.getDescription()}">Topic description </p>
            </div>
            <div class="col-sm-2 mx-auto">
                <a class="btn btn-info btn-sm" th:href="@{'/staff/topic-edit/'+${topic.getId()}} " data-toggle="tooltip"
                   title="Edit topic">Edit</a>
                <a class="btn btn-danger btn-sm mx-3" th:href="@{'/staff/topic-delete/'+${topic.getId()}}"
                   data-toggle="tooltip" title="Delete topic">
                    <i class="fas fa-skull-crossbones"></i></a>
            </div>

        </div>


    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>