<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Edit Conference</title>
</head>
<body>
<div th:replace="fragments :: admin-header"></div>
<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Edit Conference</h1>
</div>

<div class="container-fluid mx-auto mt-5 col-sm-5">

    <form action="#" th:action="@{'/staff/conference-edit/'+${confId}}" th:object="${conference}" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputName">Theme</label>
                <textarea type="text" th:field="*{theme}" class="form-control" id="inputName" name="textarea" rows="1"
                          cols="50">Get theme from DB</textarea>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="conf-time-start">Start</label>
                <input type="datetime-local" class="form-control" id="conf-time-start"
                       name="meeting-time" th:field="*{start}"
                       min="2020-03-30T00:00">
            </div>
            <div class="form-group col-md-6">
                <label for="conf-time-end">End</label>
                <input type="datetime-local" class="form-control" id="conf-time-end"
                       name="meeting-time" th:field="*{end}"
                       min="2020-03-30T00:00">
            </div>
            <div th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Venue</label>
            <textarea type="text" th:field="*{address}" class="form-control" id="inputAddress" name="textarea" rows="1"
                      cols="50">Get address from DB</textarea>

        </div>
        <div class="form-group">
            <label for="inputDescr">Description</label>
            <textarea type="text" th:field="*{description}" class="form-control"
                      id="inputDescr">Get description from DB</textarea>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>