<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our conferences</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="bg-info">
<div class="container-fluid mx-auto mt-5 align-middle">

            <div class="col-md-10 d-flex justify-content-center mx-auto ">
            <form  action="POST" class="form-inline py-5 justify-content-center "  style="width: 80%; margin-top: 20%">
                <input type="email" style="width: 60%;" class="form-control px-5 py-4 mr-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <button type="submit" class="btn btn-dark">Go</button>
            </form>
            </div>
</div>

</body>
</html>