<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to our conferences</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="bg-info">
<div class="container-fluid mx-auto mt-5 align-middle">
    <div class="col-md-10 mx-auto text-center">

        <div class="">
            <h1>Welcome!</h1>
            <p>find and scar QR-code to enter the conference you are visiting</p>


            <div>
                <h3>All planned conferences: </h3>

            </div>

        </div>


    </div>
</div>

</body>
</html>