<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Conferences Admin Panel</title>
</head>
<body>

<div th:replace="fragments :: admin-header"></div>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Conferences</h1>

</div>


<div class="container mx-auto mt-5" style="">
    <table class="table">

        <thead class="thead">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Topics</th>
            <th scope="col">StartDate</th>
            <th scope="col">EndDate</th>

            <th></th>

            <!--See only 'ADMIN'-->
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <th><a class="btn btn-primary btn-sm" href="/staff/conferenceadd">Add</a></th>
            </div>
            <!---->
        </tr>
        </thead>

        <tbody>
        <!--${colab_id} == ${conf.getId()}-->
        <tr th:each="conf:${Conflist}">
            <!--Link /conference-dashboard for staff to manage topics start/end and see questions-->
            <th th:if="${#lists.contains(colabs_id,conf.getId())} or ${#lists.contains(roles,'SUPERVISOR')}"
                scope="row"><a th:href="@{'/staff/conference-dashboard/' + ${conf.getId()}}" th:text="${conf.getTheme()}"></a>
            </th>
            <td th:if="${#lists.contains(colabs_id,conf.getId())} or ${#lists.contains(roles,'SUPERVISOR')}"
                th:text="${conf.getDescription()}"></td>
            <td th:if="${#lists.contains(colabs_id,conf.getId())} or ${#lists.contains(roles,'SUPERVISOR')}">10</td>
            <td th:if="${#lists.contains(colabs_id,conf.getId())} or ${#lists.contains(roles,'SUPERVISOR')}"
                th:text="${conf.getStart()}"></td>
            <td th:if="${#lists.contains(colabs_id,conf.getId())} or ${#lists.contains(roles,'SUPERVISOR')}"
                th:text="${conf.getEnd()}"></td>


            <td th:if="${#lists.contains(colabs_id,conf.getId())} and ${#lists.contains(roles,'ADMIN')}"><a class="btn btn-danger btn-sm"
                                                                      th:href="@{'/staff/delete-conference/' + ${conf.getId()}}"
                                                                      value=""
                                                                      name=""><i
                    class="fas fa-skull-crossbones"></i></a></td>


            <td th:if="${#lists.contains(colabs_id,conf.getId())}"><a class="btn btn-success btn-sm"
                                                                      th:href="@{'/staff/conference-page/' + ${conf.getId()}}">Edit</a>
            </td>

        </tr>

        </tbody>
    </table>

</div>


<div th:replace="fragments :: footer"></div>

</body>
</html>