<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Conferences Admin Panel</title>
</head>
<body>
<div th:replace="fragments :: admin-header"></div>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Name</th>
        <th id="roles">Roles</th>
        <th>Conferences</th>
        <th>Edit</th>
        <div sec:authorize="hasAnyAuthority('SUPERVISOR')">
            <th>Delete</th>
        </div>
    </tr>
    <tr th:each="staff : ${staffs}">
        <td  th:text="${staff.getId()}">Id</td>
        <td  th:text="${staff.getEmail()}">Email</td>
        <td  th:text="${staff.getName()}">Name</td>
        <td  headers="roles">
            <span th:each="a, role : ${staff.getRoles()}" th:text="${!role.last} ? ${a} + ' ,': ${a}"></span>
        </td>
        <div sec:authorize="hasAnyAuthority('SUPERVISOR')">
            <td  class="form-group blu-margin">
                <select class="form-control" id="dropOperatorq">
                    <option th:each="conf : ${staff.getColabs_id()}"
                            th:text="${confService.findById(conf).getTheme()}"></option>
                </select>
            </td>
        </div>


        <td  class="form-group blu-margin">
            <select class="form-control" id="dropOperator" th:with="commonConfId=${staff.getColabs_id().retainAll(staffAuth.getColabs_id())}">
                <option  th:each="conf : ${staff.getColabs_id()}"
                         th:text="${confService.findById(conf).getTheme()}"></option>
            </select>
        </td>

        <td >
            <a class="btn btn-success btn-sm" th:href="@{'/staff/add-privileges/'+${staff.getId()}}">Edit</a>
        </td>
        <div sec:authorize="hasAnyAuthority('SUPERVISOR')">
            <td><a class="btn btn-danger btn-sm mx-3" th:href="@{'/staff/staff-delete/'+${staff.getId()}}">
                <i class="fas fa-skull-crossbones"></i></a></td>
        </div>
    </tr>
</table>

<div th:replace="fragments :: footer"></div>
</body>
</html>