<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Conferences Admin Panel</title>
</head>
<body>

<div th:replace="fragments :: admin-header"></div>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Conferences</h1>

</div>


<div class="container mx-auto mt-5" style="">
    <table class="table">

        <thead class="thead">
        <tr>
            <th scope="col" style="width: 17%">Theme</th>
            <th scope="col" style="width: 38%">Description</th>
            <th scope="col" style="width: 15%">Venue</th>
            <th scope="col" style="width: 10%">Start Date</th>
            <th scope="col" style="width: 10%">End Date</th>

            <th style="width: 5%"></th>

            <!--See only 'ADMIN'-->
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <th style="width: 5%"><a class="btn btn-primary btn-sm" href="/staff/conference-add" data-toggle="tooltip"
                       title="Add new conference">Add</a></th>
            </div>
            <!---->
        </tr>
        </thead>

        <tbody>
        <tr th:each="conf:${conferences}">
            <!--Link /conference-dashboard for staff to manage topics start/end and see questions-->

            <th scope="row">
                <a th:href="@{'/staff/conference-page/' + ${conf.getId()}}" th:text="${conf.getTheme()}"
                   data-toggle="tooltip" title="View conferences topics"></a>
            </th>

            <td th:text="${conf.getDescription()}"></td>
            <td th:text = "${conf.getAddress()}"></td>
            <td th:text="${#temporals.format(conf.getStart(), 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(conf.getEnd(), 'dd-MM-yyyy HH:mm')}"></td>

            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <td>
                    <a class="btn btn-danger btn-sm" th:href="@{'/staff/delete-conference/' + ${conf.getId()}}"
                       data-toggle="tooltip" title="Delete conference">
                        <i class="fas fa-skull-crossbones"></i>
                    </a>
                </td>
            </div>

            <td><a class="btn btn-success btn-sm"
                   th:href="@{'/staff/conference-edit/' + ${conf.getId()}}" data-toggle="tooltip"
                   title="Edit conference">Edit</a>
            </td>

        </tr>

        </tbody>
    </table>

</div>


<div th:replace="fragments :: footer"></div>

</body>
</html>