<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Topic LIVE Dashboard</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/staff/dashboard"><i class="fas fa-crown"></i> Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center" th:text="${topic.getTheme()}"></h1>

<!--    TODO: add topic start-end functions-->
    <div class="mx-auto col-sm-1">
        <a class="btn btn-success" onclick="hideButton()"   id="myButton1" th:href="'/staff/topic-start/' + ${topicId}"><i class="far fa-play-circle"></i></a>
        <a class="btn btn-danger" onclick="hideButton()"  id="myButton2" th:href="'/staff/topic-end/' + ${topicId}"><i class="far fa-stop-circle"></i></a>
    </div>

</div>


<div class="container mx-auto mt-5">
    <table class="table">

        <thead class="thead">
        <tr>
            <th scope="col">Likes</th>
            <th scope="col">Question</th>
            <th scope="col">User</th>
            <th scope="col">Answered?</th>
            <th></th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="q : ${questions}">
            <th scope="row"><span th:text="${q.getLikesQuantity()}"></span> <i class="fas fa-grin-hearts"></i></th>
            <td>
                <div th:if="${q.getAnswerStatus()}"><del><span th:text="${q.getQuestion()}"></span></del></div>
                <div th:if="${!q.getAnswerStatus()}"> <span th:text="${q.getQuestion()}"></span></div>
            </td>
            </td>
            <td th:text="${q.getCreatorName()}"></td>
            <td>
                <div th:if="${q.getAnswerStatus()}">
                    <input type="checkbox" checked>
                </div>
                <div th:if="${!q.getAnswerStatus()}">
                    <a class="btn btn-success btn-small" th:href="'/question/answer/' + ${topicId}  + '/' + ${q.getId()}"><i class="fas fa-hourglass-start"></i> Answered</a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <script>
        if (localStorage) {
            var firstButton = document.getElementById("myButton1");
            var secondButton = document.getElementById("myButton2");
            var clickValue = localStorage.getItem("click");
            if (localStorage.getItem("click")) {
                firstButton.style.display="block";
                secondButton.style.display="none";
            }
            if (clickValue.toString()==="close"){
                firstButton.style.display="none";
                secondButton.style.display="block";
            }else{
                firstButton.style.display="block";
                secondButton.style.display="none";
            }
        } else {
            alert("Sorry, your browser do not support local storage.");
        }
    </script>
    <script>
        function hideButton() // no ';' here
        {
            if (localStorage) {
                var firstButton = document.getElementById("myButton1");
                var secondButton = document.getElementById("myButton2");

                if (firstButton.style.display==="none") {
                    firstButton.style.display="block";
                    secondButton.style.display="none";
                    localStorage.setItem("click", "open");
                } else {
                    firstButton.style.display="none";
                    secondButton.style.display="block";
                    localStorage.setItem("click", "close");
                }
            } else {
                alert("Sorry, your browser do not support local storage.");
            }
        }
    </script>
</div>


<div th:replace="fragments :: footer"></div>

</body>
</html>