<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Topic LIVE Dashboard</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/dashboard"><i class="fas fa-crown"></i> Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mx-auto mt-5">
    <h1 class="text-center">Deconstructing Deep Learning: LIVE Dashboard</h1>
    <div class="mx-auto col-sm-8">
    <a class="btn btn-success" href="/"><i class="far fa-play-circle"></i></a>
    <a class="btn btn-danger" href="#" value="" name=""><i class="far fa-stop-circle"></i></a>
    </div>
</div>


<div class="container mx-auto mt-5" style="">
    <table class="table">

        <thead class="thead">
        <tr>
            <th scope="col">Likes</th>
            <th scope="col">Question</th>
            <th scope="col">User</th>
            <th scope="col">Answered?</th>

            <th></th>

        </tr>
        </thead>

        <tbody>

        <tr>
            <th scope="row">15 <i class="fas fa-grin-hearts"></i></th>
            <td>What is the biggest challenge you had in your practice?</td>
            <td>imagenius</td>
            <td><input type="checkbox" checked data-toggle="toggle"></td>

        </tr>
        <tr>
            <th scope="row">11 <i class="fas fa-grin-hearts"></i></th>
            <td>What should I do next, right after this lecture, to become an AI pro?</td>
            <td>wikihowyouknow</td>
            <td><input type="checkbox" aria-label="Checkbox for following text input"></td>

        </tr>
        </tbody>
    </table>
    <td><a class="btn btn-success float-right" href="/"><i class="fas fa-hourglass-start"></i> Save</a></td>

</div>


<div th:replace="fragments :: footer"></div>

</body>
</html>