<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Live NOW: Conference name</title>
    <link href="../static/css/all.css" rel="stylesheet" th:href="@{/css/all.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href=""><i class="fab fa-napster"></i> LIVE Conference</a>
    <p>Welcome <i class="" th:text="${visitor.getUserName()}">Visitor</i>!</p>
    <a class="navbar-brand" th:href="@{'/liveconference/logout/'+${topic.confId}}"> <i class="far fa-sad-tear"></i> Leave</a>

</nav>
<nav class="nav py-3 justify-content-center">

    <div class="col-sm-8 mx-auto py-3">

        <h3 class="text-center h3 py-3" th:text="${conference.getTheme()}">CONFERENCE NAME</h3>
        <ul class="nav mx-auto">
            <li class="nav-item h4 text-center mx-auto"><span style="color: green;"><i
                    class="fab fa-rocketchat"></i></span> NOW: <h2 th:text="${topic.getTheme()}"></h2> <a class="btn btn-outline-info"
                                                                                                          th:href="'/liveconference/now/' + ${conference.getId()} + '/schedule'">Schedule</a></li>
        </ul>
        <p class="px-3" th:text="${topic.getDescription()}">No description available</p>
    </div>

</nav>
<div class="container-fluid py-2">
    <h3 class="h3 text-center pt-2">Top questions</h3>
    <div class="border bg-light col-sm-8 mx-auto">
        <div class="table-responsive text-nowrap">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Likes</th>
                    <th scope="col" style="width: 50%;">Question</th>
                    <th scope="col" style="width: 20%;">User</th>
                    <th scope="col" style="width: 20%;">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tq : ${topquestions}">
                    <td>
                        <div th:if="${tq.isLikedByThisVisitor}">
                            <a style="color: darkred;" th:href="'/question/unlike/' + ${tq.getId()}"><i class="fas fa-heart"></i></a> <span th:text="${tq.getLikesQuantity()}"></span>
                        </div>
                        <div th:if="${!tq.isLikedByThisVisitor}">
                            <a th:href="'/question/like/' + ${tq.getId()}"><i class="far fa-heart"></i> </a><span th:text="${tq.getLikesQuantity()}"></span>
                        </div>
                    </td>
                    <td th:text="${tq.getQuestion()}"></td>
                    <td th:text="${tq.getCreatorName()}"></td>
                    <td th:text="${tq.getTime()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="container-fluid py-3 all-questions-block">
    <h3 class="h3 text-center pt-2">All questions</h3>
    <p class="text-center">for current topic</p>
    <div class="border col-sm-10 mx-auto py-1" style="height: 300px; overflow-y: scroll; overflow-x: hidden;">

        <div class="table-responsive text-nowrap">
            <table class="table table-borderless table-fixed">
                <thead>
                <tr class="table-info">
                    <th scope="col" style="width: 1%;">Likes</th>
                    <th style="width: 9%;"></th>
                    <th scope="col" style="width: 50%;">Question</th>
                    <th scope="col" style="width: 20%;">User</th>
                    <th scope="col" style="width: 20%;">Time</th>
<!--                    TODO: add sorting bu time, likes and users-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="q : ${questions}">
                    <th scope="row" th:text="${q.getLikesQuantity()}"></th>
<!--                    TODO: 1) finish /like/  -->
                    <td> <div th:if="${q.isLikedByThisVisitor}"><a style="color: darkred;" th:href="'/question/unlike/' + ${q.getId()}"><i class="fas fa-heart"></i></a></div>
                        <div th:if="${!q.isLikedByThisVisitor}"><a th:href="'/question/like/' + ${q.getId()}"><i class="far fa-heart"></i></a></div>
                    </td>
                    <td th:text="${q.getQuestion()}"></td>
                    <td th:text="${q.getCreatorName()}"></td>
                    <td th:text="${q.getTime()}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<div class="container-fluid py-5">
    <p class="text-center"><i class="fab fa-napster"></i></p>
</div>
<div class="container-fluid py-1 fixed-bottom bg-light">
    <div class=" col-sm-6 mx-auto py-1">
        <form th:action="@{/question/add-question}" method="POST" class="form-inline mx-auto">
            <textarea class="form-control" th:name="question" rows="2" style="float: left; width: 80%;"></textarea>
            <input type="hidden" th:name="topicId" th:value="${topic.getId()}">
            <input type="hidden" th:name="creatorId" th:value="${visitor.getId()}">
            <input type="hidden" th:name="answerStatus" th:value="false">
            <button type="submit" class="btn btn-success px-2 mx-1" style="height: 50px; width: 15%;"><i
                    class="fas fa-chevron-right"></i></button>
        </form>
    </div>
</div>
</body>


</html>